<!-- app/views/restaurants/index.html.erb -->
<h1>Restaurant List</h1>

<table>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <ul>
        <li>
          <%= link_to restaurant.name, restaurant_path(restaurant) %>
        </li>
      </ul>
    <% end %>
  </tbody>
</table>

<%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-primary"%>
